target/
.DS_Store
**/.DS_Store
1028-20100710-hne/.DS_Store
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.project
.settings
.classpath

# Exclude maven wrapper
!/.mvn/wrapper/maven-wrapper.jar
